<!--footer-->
<div class="container">
  <footer>
    <ul
      class="nav justify-content-center border-bottom pb-3 mb-3 d-flex flex-column align-items-center d-lg-flex flex-lg-row justify-content-lg-between mt-8 mt-lg-10"
    >
      <li class="nav-item align-self-lg-baseline">
        <a href="#" class="nav-link px-2 text-gray-500 fs-lg-2 fs-4 fw-bolder"
          >想看什麼主題由你決定！</a
        >
      </li>
      <li
        class="nav-item d-flex flex-column align-items-center align-items-lg-end"
      >
        <a href="#" class="nav-link px-2 fs-5 fs-lg-4 fw-semibold text-gray-500"
          >歡迎投稿與我們分享</a
        >
        <a href="#" class="nav-link px-2"
          ><button
            class="btn btn-secondary-200 text-white fw-bolder mb-8 mb-lg-10"
            type="button"
          >
            聯絡我們
          </button></a
        >
      </li>
    </ul>
    <p class="text-center text-muted py-4">©Vivre 2024 All right Reserved</p>
  </footer>
</div>
