<!--footer-about-->
<div class="container">
  <footer>
    <div
      class="nav justify-content-center border-bottom pb-3 mb-3 d-flex flex-column align-items-center d-lg-flex flex-lg-row justify-content-lg-between mt-8 mt-lg-10"
    ></div>
    <p class="text-center text-muted py-4">©Vivre 2024 All right Reserved</p>
  </footer>
</div>
