@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "bootstrap/scss/functions";
@import "/assets/scss/helpers/variables.scss";
@import "bootstrap/scss/bootstrap";
@import "/assets/scss/base/base";
@import "/assets/scss/layout/header";
@import "/assets/scss/layout/footer";
@import "/assets/scss/pages/index.scss";
@import "/assets/scss/pages/about";
